*.gddoc
*.swp
*.doc
*.docx
*.xls
*.xlsx
*.blg
*.lof
*.bbl
Invoices and receipts
*.out
Documents/Invoices, quotes, receipts
Documents/Test plan
*.tdo
*.pyc
Data/Raw
temp.py
Figures
Trash
*.ffs_db
temp*
*.zip
