*.gddoc
Documents/Test plan/*.aux
Documents/Test plan/*.pdf
Documents/Test plan/*.gz
Documents/Test plan/*.log
Documents/Test plan/*.toc
*.swp
*.doc
*.docx
*.xls
*.xlsx
*.bbl
*.blg
*.lof
Invoices and receipts
Documents/Test plan/Figures/SolidWorks/
*.out
Documents/Invoices, quotes, receipts
Documents/Drawings

